*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
.clock{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(58, 183, 192) , rgb(16, 67, 104));
    padding-top: 120px;
}
.container{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    background: linear-gradient(to left, rgb(75, 74, 74) , rgb(214, 228, 238));
    margin: auto;
    border-radius: 100%;
    position: relative;
}
.container .number{
    position: absolute;
    width: 100%;
    height: 100%; 
    text-align: center;

}
.number1{
    transform: rotate(30deg);
}
.number2{
    transform: rotate(60deg);
}
.number3{
    transform: rotate(90deg);
}
.number4{
    transform: rotate(120deg);
}
.number5{
    transform: rotate(150deg);
}
.number6{
    transform: rotate(180deg);
}
.number7{
    transform: rotate(210deg);
}
.number8{
    transform: rotate(240deg);
}
.number9{
    transform: rotate(270deg);
}
.number10{
    transform: rotate(300deg);
}
.number11{
    transform: rotate(330deg);
}
.number12{
    transform: rotate(360deg);
}
.point{
    width: 8px;
    height: 8px;
    background-color: rgb(12, 12, 12);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: 999;
}
.minute{
    width: 2px;
    background-color: black;
    height: 70px;
    position: absolute;
    top: 14.5%;
    left: 50%;
    transform-origin: bottom;
    border-top-left-radius: 10px;
    z-index: 444;
    border-top-right-radius: 10px;

}
.second{
    width: 2px;
    background-color: rgb(240, 41, 41);
    height: 80px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 666;
}
.hour{
    width: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(145, 176, 6);
    height: 50px;
    position: absolute;
    top: 25%;
    left: 49%;
    transform-origin: bottom;
    z-index: 1;
}