*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    height: 300px;
    margin: 200px auto;
    border-radius: 24px;
    background: linear-gradient(225deg, #cacaca, #f0f0f0);
    box-shadow:  -5px 5px 3px #676767,
             5px -5px 3px #ffffff;
             text-align: center;
    padding-top: 99px;
    position: relative;
}
.container2{
  height: 19px;
  border: 2px solid black;
  margin: auto;
  margin-top: 9px;
  font-size: 46px;
  background-color: rebeccapurple;
  position:relative;
  border-radius: 5px;


}
/* @keyframes animation{
    0%{width: 0%;}
    100%{width: 100%;}


} */
    
.container3{
    /* width: 20px; */
    height: 100%;
    position: absolute;
    background-color:red;
    border-radius: 5px;
    border: 1px solid black;
    /* animation: animation 1s forwards 1; */

}
#minus{
    position: absolute;
    top: 37%;
    font-size: 35px;
    left: 27%;
    cursor: pointer;
    color: red;

}
#plus{

        position: absolute;
        top: 39%;
        color: red;
        font-size: 35px;
        right: 26%;
        cursor: pointer;
}
h2{ 
    color: #676767;
    margin-top: 10px;
}