*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-around;
}
.first-div{
    width: 42%;
    height: 90%;
    text-align: center;
    margin-top: 30px;
}
.first-div img{
    width: 45%;
    height: 88%;
    object-fit: contain;
}
.second-div{
    width: 49%;
    height: 90%;
    margin-top: 30px;
}
.second-div h1{
margin-top: 3%;
font-family: Arial, Helvetica, sans-serif;
color: rgb(19, 18, 18);}
.insecond{
    width: 80%;
    height: 60%;
    padding-top: 9%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3px;
}
.insecond h2{
    color: rgb(28, 7, 7);
    margin-right: 50px;
    margin-top: 9px;
}
.insecond2{
    width: 80%;
    height: 4px;
    accent-color: red;
    transition: 5s;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
ul{
    width: 80%;
    height: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}
ul li{
    list-style-type: none;
}
.forhref{
    width: 99%;
    height: 99px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forhref a{
    width: 32%;
    height: 50px;
    background-color: rgb(210, 186, 186);
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 30px;
    color: black;
    padding-top: 10px;
    font-size: 19px;
}
.forhref a:hover{
    background-color: #ff0000;
    color: white!important;
    transition: 1s;
}
.mark{
    width: 17%;
    height: 40px;
    text-align: center;
    margin-top: 19px;
}
.mark p{
   font-size: 13px;
   margin-left: 3px;
}
.insecond h5{
    width: 29px;
    height: 19px;
    background-color: red;
    color: white;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    padding: 2px 7px;
}