@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Cookie&family=Kanit:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul{
    display: flex;
    gap: 20px;
    
}
ul li a{
    text-decoration: none;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 27px;
    color: rgb(7, 29, 7);

}
ul li{
    list-style-type: none;
}
ul li hr{
    width: auto;
    margin: auto;
    width: 0;
    opacity: 0;
}
ul li:hover hr {
    width: 100%;
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.container2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 20%;
    height: 90%;
    text-align: center;

}
.box img{
    width: 100%;
    height: 70%;
    border-radius: 9px;
    box-shadow:  5px 5px 60px #100f0f;
    margin-top: 30px;

}
.box h2{
    margin-top: 30px;
}
.kias,.mercedes,.toyatos{
    display: none;
}